<main>
    <h1>Integrantes do Projeto:</h1>
    <section class="main-section">
        <div class="member">
            <img src="kaik.jpeg" alt="">
            <h2>Kaike Renan </h2>
            <p>RA: 1994836</p>
            <a href="https://www.linkedin.com/in/kaike-renan-de-almeida-773220312/" target="_blank" rel="external"><span class="material-symbols-outlined">link</span></a>
        </div>

        <div class="member">
            <img src="matheus.jpeg" alt="">
            <h2>Matheus </h2>
            <p>RA: 1994836</p>
            <a href="https://www.linkedin.com/in/matheus-floresti-ferrari-17572a287?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app" target="_blank" rel="external"><span class="material-symbols-outlined">link</span></a>
        </div>

        <div class="member">
            <img src="logo.png" alt="">
            <h2>Fernando </h2>
            <p>RA: 1994836</p>
            <a href="https://www.linkedin.com/in/fernando-caffer-mattar-009911259?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app" target="_blank" rel="external"><span class="material-symbols-outlined">link</span></a>
        </div>

        <div class="member">
            <img src="logo.png" alt="">
            <h2>Leonardo </h2>
            <p>RA: 1994836</p>
            <a href="https://www.linkedin.com/in/leonardo-alonso-de-toledo/" target="_blank" rel="external"><span class="material-symbols-outlined">link</span></a>
        </div>

        <div class="member">
            <img src="logo.png" alt="">
            <h2>David Lino </h2>
            <p>RA: 1989325</p>
            <a href="https://www.linkedin.com/in/david-lino-21a4542b8?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app" target="_blank" rel="external"><span class="material-symbols-outlined">link</span></a>
        </div>

        <div class="member">
            <img src="diego.jpeg" alt="">
            <h2>Diego Artero </h2>
            <p>RA: 1989361</p>
            <a href="https://www.linkedin.com/in/diego-b-artero/" target="_blank" rel="external"><span class="material-symbols-outlined">link</span></a>
        </div>

        <div class="member">
            <img src="logo.png" alt="">
            <h2>Henrique Garcia </h2>
            <p>RA: 1992437</p>
            <a href="" target="_blank" rel="external"><span class="material-symbols-outlined">link</span></a>
        </div>

        <div class="member">
            <img src="logo.png" alt="">
            <h2>Lucas Alves </h2>
            <p>RA: 1996479</p>
            <a href="https://www.linkedin.com/in/henrique-garcia-ramalho?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app" target="_blank" rel="external"><span class="material-symbols-outlined">link</span></a>
        </div>

    </section>
</main>