<main>
    <section class="main-section">
        <h1>Integrantes do Projeto: </h1>
        <!-- <hr> -->
        <nav class="members">
            <ul>
                <i>
                    <li><a href="https://www.linkedin.com/in/kaike-renan-de-almeida-773220312/" target="_blank"
                            rel="external">Kaike Renan de Almeida</a> RA: 1994836</li>
                    <li><a href="#" target="_blank" rel="external">Mathues</a> RA: </li>
                    <li><a href="#" target="_blank" rel="external">Fernando</a> RA: </li>
                    <li><a href="#" target="_blank" rel="external">Leonardo</a> RA: </li>
                    <li><a href="#" target="_blank" rel="external">David Lino</a> RA: 1989325</li>
                    <li><a href="https://www.linkedin.com/in/diego-b-artero/" target="_blank" rel="external">Diego
                            Bernardo Artero</a> RA: 1989361</li>
                    <li><a href="#" target="_blank" rel="external">Henrique Garcia Ramalho</a> RA: 1992437</li>
                    <li><a href="#" target="_blank" rel="external">Lucas Alves Marques</a> RA: 1996479</li>
                </i>
            </ul>
        </nav>
    </section>
</main>