main {
    background-color: var(--cor-primaria);
    height: 100vh;
}

h1 {
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    color: var(--texto1);
    margin-bottom: 15px;
    background-color: var(--cor-primaria);
    margin: 0;
    padding: 20px 0px 20px 0;
}

.main-section {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 20px;
    justify-items: center;
}

.member {
    background-color: var(--cor-primaria);
    width: 250px;
    height: 350px;
    border: 2px solid var(--cor-secundaria);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 20px;
}

.member h2, .member p {
    margin: 5px 0;
    color: var(--texto1);
}

.member a {
    text-decoration: none;
    color: var(--texto1);
    transition: color 0.3s;
}

.member a:hover {
    color: var(--cor-secundaria);
}
