<main>
    <h1>Integrantes do Projeto:</h1>
    <section class="main-section">
        <div class="member">
            <h2>Kaike Renan </h2>
            <p>RA: 1994836</p>
            <a href="https://www.linkedin.com/in/kaike-renan-de-almeida-773220312/" target="_blank" rel="external"><span class="material-symbols-outlined">link</span></a>
        </div>

        <div class="member">
            <h2>Matheus </h2>
            <p>RA: 1994836</p>
            <a href="" target="_blank" rel="external"><span class="material-symbols-outlined">link</span></a>
        </div>

        <div class="member">
            <h2>Fernando </h2>
            <p>RA: 1994836</p>
            <a href="" target="_blank" rel="external"><span class="material-symbols-outlined">link</span></a>
        </div>

        <div class="member">
            <h2>Leonardo </h2>
            <p>RA: 1994836</p>
            <a href="" target="_blank" rel="external"><span class="material-symbols-outlined">link</span></a>
        </div>

        <div class="member">
            <h2>David Lino </h2>
            <p>RA: 1989325</p>
            <a href="" target="_blank" rel="external"><span class="material-symbols-outlined">link</span></a>
        </div>

        <div class="member">
            <h2>Diego Artero </h2>
            <p>RA: 1989361</p>
            <a href="" target="_blank" rel="external"><span class="material-symbols-outlined">link</span></a>
        </div>

        <div class="member">
            <h2>Henrique Garcia </h2>
            <p>RA: 1992437</p>
            <a href="" target="_blank" rel="external"><span class="material-symbols-outlined">link</span></a>
        </div>

        <div class="member">
            <h2>Lucas Alves </h2>
            <p>RA: 1996479</p>
            <a href="" target="_blank" rel="external"><span class="material-symbols-outlined">link</span></a>
        </div>

    </section>
</main>