
main {
    background-color: var(--cor-primaria);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 93.2vh;
    text-align: center;
    position: relative;
}

main ul {
    list-style-type: none;
    color: var(--texto1);
}

main li {
    padding: 13px;
}

.main-section {
    position: relative;
    max-width: 600px;
}

h1 {
    font-size: 28px;
    font-weight: bold;
    color: var(--texto1);
    margin-bottom: 15px;
}

/* hr {
    width: 100%;
    border: none;
    border-top: 1px solid rgb(255, 255, 255);
    margin: 0 auto 15px;
} */

.members {
    width: 400px;
    background-color: var(--cor-primaria);
    border-radius: 20px;
    border: 2px solid rgb(29, 201, 161);
}

main ul a {
    color: var(--texto1);
    text-decoration: none;
}

main ul i li a:hover {
    color: var(--cor-secundaria);
}

main ul a:visited {
    color: var(--texto1);
    text-decoration: none;
}