<header>
    <div class="logo">Price Insight</div>
    <nav>
        <ul>
            <li>Lorem Ipsum</li>
            <li>Lorem Ipsum</li>
            <li>Lorem Ipsum</li>
            <li class="login"><span class="icon">U+128100</span> Login</li>
        </ul>
    </nav>
</header>
<main>
    <section class="main-section">
        <div class="content">
            <h1>Encontre os melhores preços para sua compra!</h1>
            <hr>
            <p>No Price Insight, comparamos todas as ofertas disponíveis no mercado para que você economize mais ao comprar o que deseja.</p>
            <button>Vamos lá!</button>
        </div>
    </section>
</main>      