* {
    margin: 0;
    padding: 0;
    font-family: 'Jura', sans-serif;
    box-sizing: border-box;
}

body {
    background: linear-gradient(bottom, #0e1d31, #091521);
    color: var(--texto1);
}

header {
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.logo {
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo img {
    width: 30px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav ul li {
    cursor: pointer;
    font-weight: bold;
    transition: color 0.3s;
    color: var(--cor-secundaria);
}

nav ul li:hover {
    color: var(--texto1);
    
}


main {
    background-color: var(--cor-primaria);
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 70px);
    text-align: center;
    position: relative;
}

.main-section {
    position: relative;
    max-width: 600px;
}

h1 {
    font-size: 28px;
    font-weight: bold;
    color: var(--texto1);
    margin-bottom: 15px;
}

p {
    font-size: 16px;
    color: var(--texto2);
    margin-bottom: 20px;
}

hr {
    width: 60%;
    border: none;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    margin: 0 auto 15px;
}


button {
    background-color: var(--botao-fundo);
    color: var(--texto1);
    font-weight: bold;
    border: 2px solid var(--cor-secundaria);
    padding: 12px 24px;
    cursor: pointer;
    border-radius: 30px;
    transition: all 0.3s ease-in-out;
    font-size: 16px;
}

button:hover {
    background-color: var(--botao-hover);
    transform: scale(1.05);
}
