.container{
    background-color: var(--cor-secundaria);
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding: 20px;
}
.forms{
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    
}
input{
    border-radius: 5px;
    padding: 10px 20px;
    background-color: var(--cor-primaria);
    color: #000000;
    border: none;
    
}
button{
    width: 100px;
    height: 30px;
    color: #ffff;
    background-color: var(--cor-primaria);
    border: none;
    border-radius: 20px;
    
}
h1{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffff;

}
.forms a{
    color: #ffffff;
    cursor: pointer;
}
.password{
    display: flex;
    align-items: center;
    padding: 4px;
    width: 100%;
    border-radius: 5px;
}
.password img{
    width: 20px;
    margin-right: 8px;
}

.user{
    display: flex;
    align-items: center;
    padding: 4px;
    width: 100%;
    border-radius: 5px;
}
.user img{
    width: 20px;
    margin-right: 8px;
}
