<div class="container">
    <div class="forms">
        <h1>LOGIN</h1>
        <div class="user">
            <img src="user.png" alt="">
            <input type="email" name="email" placeholder="Insira seu email" >
        </div>
        <div class="password">
            <img src="cadeado.png" alt="">
            <input type="password" name="senha" placeholder="Insira sua senha" >
        </div>
        <a (click)="auth.emit(false)">Já possui cadastro?</a>
        <button>Entrar</button>
    </div>
</div>

