main {
    background-color: var(--cor-primaria);
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow-y: hidden;

    background-color: var(--cor-primaria);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 93.2vh;
    text-align: center;
    position: relative;
    overflow-y: hidden;
  }
  
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow-y: hidden;
}


h1 {
    font-size: 28px;
    font-weight: bold;
    color: var(--texto1);
    margin-bottom: 15px;
}

p {
    font-size: 16px;
    color: var(--texto2);
    margin-bottom: 20px;
}

