* {
    margin: 0;
    padding: 0;
    font-family: 'Jura', sans-serif;
    box-sizing: border-box;
}

body {
    background: linear-gradient(bottom, #0e1d31, #091521);
    color: var(--texto1);
}

header {
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.logo {
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo img {
    width: 30px;
}

.header ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

.header ul li {
    cursor: pointer;
    font-weight: bold;
    transition: color 0.3s;
    color: var(--cor-secundaria);
}

.header ul li:hover {
    color: var(--texto1);
}

.header a:link {
    text-decoration: none;
    color: var(--cor-secundaria);
}

.header a:link:hover {
    transition: color 0.3s;
    color: var(--texto1);
}

.header a:visited {
    text-decoration: none;
    color: var(--cor-secundaria);
}

.header a:visited:hover {
    transition: color 0.3s;
    color: var(--texto1);
}

main {
    background-color: var(--cor-primaria);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 93.2vh;
    text-align: center;
    position: relative;
}

.main-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    max-width: 600px;
}

h1 {
    font-size: 28px;
    font-weight: bold;
    color: var(--texto1);
    margin-bottom: 15px;
}

p {
    font-size: 16px;
    color: var(--texto2);
    margin-bottom: 20px;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    min-height: 150px;

    background-color: var(--cor-primaria);
    border-radius: 20px;
    width: 500px;
    height: 100px;

    border: 2px solid var(--cor-secundaria);
}

span.material-symbols-outlined {
    background-color: none;
    border: 2px solid white;
    border-radius: 100px;
    color: white;
    margin: 0px 5px 0px 5px;
    transform: translateY(7px);
}

input#iemail, input#isenha {
    padding: 7px;
    width: 220px;
    margin: 5px;
    border: none;
    border-radius: 10px;
}

input#iemail:focus-within, input#isenha:focus-within {
    background-color: whitesmoke;
    outline: none;
}

input#entrar {
    margin-top: 5px;
    background-color: var(--botao-fundo);
    color: var(--texto1);
    font-weight: bold;
    border: 2px solid var(--cor-secundaria);
    padding: 8px 24px;
    cursor: pointer;
    border-radius: 30px;
    transition: all 0.3s ease-in-out;
    font-size: 16px;
}

input#entrar:hover {
    background-color: var(--botao-hover);
    transform: scale(1.05);
}