<main>
    <section class="container">
      <div class="texto">
        <h1>
          Somos uma empresa especializada em oferecer soluções inteligentes para comerciantes que desejam se destacar no mercado.<br><br>
          Sabemos que definir o preço ideal de um produto é um dos maiores desafios do varejo. Pensando nisso, desenvolvemos uma ferramenta inovadora que auxilia você, comerciante, a encontrar o melhor preço para seus produtos de forma prática, eficiente e estratégica.<br><br>
          Nossa solução realiza uma análise completa dos preços oferecidos no mercado, comparando produtos idênticos ou similares ao seu em diferentes plataformas e estabelecimentos. Com base nesses dados, calculamos o valor mais competitivo possível, garantindo que você não perca vendas por preços altos demais nem comprometa sua margem de lucro com preços baixos demais.<br><br>
          Com a nossa tecnologia, você tem acesso a uma precificação inteligente, embasada em dados reais, que permite tomar decisões mais seguras e aumentar sua competitividade no mercado.<br><br>
          Otimize sua estratégia de vendas com quem entende do assunto.<br>
          Tenha o preço certo, no momento certo, com o apoio de quem pensa no sucesso do seu negócio.
        </h1>
      </div>
  
      <div class="imagem">
         <img src="logo.png" alt="">
      </div>
    </section>
  </main>
  